Package: com.local.wechatrounded
Name: WeChatRounded
Version: 0.0.1
Architecture: iphoneos-arm64
Description: WeChat rounded UI tweak for rootless Dopamine
Maintainer: local
Author: local
Section: Tweaks
Depends: firmware (>= 15.0), ellekit
