Package: com.Dz.WXYJ
Name: WeChatMiniProgramForward
Version: 0.0.1
Architecture: iphoneos-arm64
Description: WeChat mini program forward probe for rootless Dopamine
Maintainer: Dz
Author: Dz
Section: Tweaks
Depends: firmware (>= 15.0), ellekit
